/* Folhas de estilo de contacts. */

#cForm {
    display: table;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

#cForm input,
#cForm textarea {
    border: 1px solid gray;
    border-bottom: 3px solid gray;
    background-color: rgb(255, 230, 230);
}

#cForm small {
    color: grey;
}

/* Estilizar o input tipo radio */
#cForm input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
    margin-top: 4px;
}

/* Estilo para o estado checked do radio button */
#cForm input[type="radio"]:checked {
    background-color: rgb(171, 171, 250);
    border-color: rgb(171, 171, 250);
}

/* Indicador interno para o estado checked */
#cForm input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: rgb(232, 240, 254);
    border-radius: 50%;
}


#cForm input:valid,
#cForm textarea:valid {
    border: 1px solid gray;
    border-bottom: 3px solid gray;
    background-color: rgb(232, 240, 254);
}

#cForm:invalid button {
    background-image: linear-gradient(rgb(172, 172, 172), rgb(76, 76, 76));
    pointer-events: none;
}

nav.contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}

nav.contacts a {
    font-size: 4rem;
}

nav.contacts i[class~=fa-square-whatsapp] {
    color: #128c7e;
}

nav.contacts i[class~=fa-square-phone] {
    color: #666;
}

nav.contacts i[class~=fa-square-envelope] {
    color: orangered;
}

nav.contacts i[class~=fa-square-instagram] {
    color: #e640d8;
}